numpy>=1.26,<2
scipy
librosa==0.10.2
numba
pytorch-lightning>=2.4
ffmpeg-python
cn2an
pypinyin
g2p_en
sentencepiece
transformers>=4.43,<=4.50
peft<0.18.0
chardet
PyYAML
psutil>=6,<8
jieba
split-lang
fast_langdetect>=0.3.1
wordsegment
rotary_embedding_torch
ToJyutping
g2pk2
ko_pron
opencc
x_transformers
torchmetrics<=1.5
onnxruntime>=1.20,<2
av>=11
soundfile
matplotlib>=3.8,<4
